<mat-sidenav-container class="sidenav-container" (backdropClick)="close('na')">
    <mat-sidenav #sidenav class="sidenav" (keydown.escape)="close('na')" disableClose opened="false">
        <!-- Content nav lateral -->
        <mat-toolbar>
            <div>
                <img src="assets/img/logo_sm.jpg" class='imgSmRedonda'>
            </div>
            <label style="padding-left: 3%;"><span style="color: #303F9F;">Superservicios</span></label>
            <div style="padding-left: 10%;">
                <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="close('na')">
                    <mat-icon aria-label="Side nav toggle icon">keyboard_arrow_left</mat-icon>
                </button>
            </div>
        </mat-toolbar>
        <mat-divider></mat-divider>
        <mat-nav-list #opened>
            <mat-list-item routerLink="/home" (click)="close('Superintendencia Delegada para Energía y Gas - Portal Grupo SUI')" [routerLinkActive]="['is-active']">
                <mat-icon aria-label="Side nav toggle icon">home</mat-icon>
                <span style="padding-left: 3%;">Principal</span>
            </mat-list-item>
            <mat-list-item routerLink="/map-page" (click)="close('Tablero de vigilancia inteligente - TVI')" [routerLinkActive]="['is-active']">
                <mat-icon aria-label="Side nav toggle icon">insert_chart</mat-icon>
                <span style="padding-left: 3%;">TVI</span>
            </mat-list-item>
            <!-- <mat-list-item routerLink="/map-pqrs" (click)="close('Mapa de PQR´s')" [routerLinkActive]="['is-active']">
                <mat-icon aria-label="Side nav toggle icon">perm_phone_msg</mat-icon>
                <span style="padding-left: 3%;">Mapa de PQR's</span>
            </mat-list-item> -->
            <!-- <a mat-list-item href="http://localhost/heatmap_pqrs/frontend/src/" target="_blank" (click)="close('Mapa de PQR´s')">
                <mat-icon aria-label="Side nav toggle icon">perm_phone_msg</mat-icon>
                <span style="padding-left: 3%;">Mapa de PQR's</span>
            </a> -->
            <!-- <mat-list-item routerLink="#" (click)="close('na')" [routerLinkActive]="['is-active']">
                <mat-icon aria-label="Side nav toggle icon">phonelink_ring</mat-icon>
                <span style="padding-left: 3%;">Twitter - GeoIncidencias</span>
            </mat-list-item> -->
            <!-- <mat-list-item routerLink="#" (click)="close('na')" [routerLinkActive]="['is-active']">
                <mat-icon aria-label="Side nav toggle icon">psychology</mat-icon>
                <span style="padding-left: 3%;">Roxanne</span>
            </mat-list-item> -->
            
            <!-- <mat-list-item routerLink="/tarifarito" (click)="close('Tarifarito | Grupo Tarifario')" [routerLinkActive]="['is-active']">
                <mat-icon aria-label="Side nav toggle icon">insert_chart</mat-icon>
                <span style="padding-left: 3%;">Tarifarito | Grupo Tarifario</span>
            </mat-list-item> -->
            <!-- <mat-list-item routerLink="/procesos-dieg" (click)="close('Procesos DIEG')" [routerLinkActive]="['is-active']">
                <mat-icon aria-label="Side nav toggle icon">donut_small</mat-icon>
                <span style="padding-left: 3%;">Procesos DIEG</span>
            </mat-list-item> -->
            <!-- <a mat-list-item href="http://172.16.32.13:5056" target="_blank" (click)="close('Procesos DIEG')"> -->
            <a mat-list-item href="http://localhost:5062/login?accesstoken=mlozada-token" target="_blank" (click)="close('Procesos DIEG')">
                <mat-icon aria-label="Side nav toggle icon">donut_small</mat-icon>
                <span style="padding-left: 3%;">Procesos DIEG</span>
            </a>
            <a mat-list-item href="http://172.16.32.13:5058" target="_blank" (click)="close('Tarifarito | Grupo Tarifario')">
                <mat-icon aria-label="Side nav toggle icon">insert_chart</mat-icon>
                <span style="padding-left: 3%;">Tarifarito | Grupo Tarifario</span>
            </a>
        </mat-nav-list>
        <mat-divider></mat-divider>
        <div style="padding-top: 5%;">
            <label style="cursor:pointer; padding-left: 5%; font-weight: 400; text-align: center;">Acerca de Grupo SUI - Superservicios</label>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <!-- Icono de hamburguesa que permite la función del menu lateral -->
            <!-- <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="sidenav.open()">
				<mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button> -->
            <!-- <p>Closed due to: {{reason}}</p> -->
            <span style="padding-left: 1%;" [ngStyle]="x.matches ? {'font-size': 'x-small'} : {'font-size': ''}">{{ opcion }}</span>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-9" style="border: 0px solid red;">
                        <span></span>
                    </div>
                    <div class="col-sm-12 col-md-3" style="border: 0px solid red; text-align: right;" [ngStyle]="x.matches ? {'font-size': 'x-small'} : {'font-size': ''}">
                        <span style="color: #FFEE58;">Cantidad de visitas: </span>
                        <span>{{ countVisitas }}</span>
                    </div>
                </div>
            </div>
        </mat-toolbar>
        <!-- Add Content Here -->
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>